NUXT_SERVER_URL=http://localhost:9000
NUXT_JWT_SECRET=xxxxxxxxxxxxxxxxxxxxesdeded
LTI_SSO_EXAM_GENERATE=http://localhost:3003
ORG_API_KEY=109a12e8-f52a-442b-91b5-bbcbb3324a36
ORG_API_TOKEN=74ce0474851ccdbd03f2f5beafe34ba0e73efbf3b06454c4343885c1a70dc34d
ORG_ID=12
AUTH_URL=http://127.0.0.1:3000
STUDENT_URL=http://localhost:3001
MONGO_URI=mongodb://127.0.0.1:27017/lti-tool